.transitionSlide {
    background-color: #1920FE;
    height: 120%;
    width: 100%;
    position: absolute;
    z-index: 5000;
    top: -120%;
    animation: slidein 1.3s .1s;
    animation-timing-function: cubic-bezier(.71,.01,.27,1);
    transition: opacity 1.2s ease-in;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 200%, 0);
        background: #CBCDFD;
    }
    to {
        transform: none;
        background: #1920FE;
    }
}