.exerciseIntro {
    grid-column: 4/11;
	margin: 200px auto 0 auto;
}

.exerciseIntro h2 {
	margin-bottom: 20px;
}

.exerciseIntro h3 {
	margin-bottom: 80px;
}

.exerciseIntro h4 {
	margin-bottom: 20px;
}

.exerciseIntro p {
	margin-bottom: 80px;
}

.sharePage {
	padding-top: 300px;
}

.sharePage h4 {
	text-align: center;
}

.sharePage p {
	text-align: center;
}

@media screen and (max-width: 1024px) {
    .exerciseIntro {
		grid-column: 3/11;
        margin-top: 100px;
	}
}

@media screen and (max-width: 768px) {
    .exerciseIntro {
        grid-column: 1/13;
    }
}