.exerciseCta {
    grid-column: 4/11;
    margin: 80px auto;
}

.exerciseCta p {
    margin-top: 20px;
}

.exerciseCta__furtherReading {
    font-weight: 700;
}

.exerciseCta a {
    font-family: Overpass;
    font-size: 14px;
    font-weight: 700;
    color: #1920FE;
}