.exerciseCta {
    grid-column: 4/11;
    margin: 80px auto;
}

.exerciseCta p {
    margin-top: 20px;
}

.exerciseCta__furtherReading {
    font-weight: 700;
}

.exerciseCta a {
    font-family: Overpass;
    font-size: 14px;
    font-weight: 700;
    color: #1920FE;
}

@media screen and (max-width: 1024px) {
    .exerciseCta {
        grid-column: 3/11;
    }
}

@media screen and (max-width: 768px) {
    .exerciseCta {
        grid-column: 1/13;
    }
}