.wrapperContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    align-content: start;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .wrapperContent {
        margin: 0 40px;
    }
}

@media screen and (max-width: 400px) {
    .wrapperContent {
        margin: 0 25px;
    }
}