.hero {
    grid-column: 1/13;
    background-color: #F7F7F7;
    margin: 50px 35px 0;
    padding: 100px 0;
}

.hero__siteTitle {
    grid-column: 1/5;
    justify-self: end;
}

.hero__siteIntro {
    grid-column: 6/11;
    justify-self: start;
}

.hero h3 {
    padding-bottom: 20px;
}

.share {
    grid-column: 1/13;
    justify-self: center;
    text-align: center;
    padding: 80px 0;
}