.wrapperMainNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    grid-column-gap: 20px;
    grid-template-areas:
        "left right";
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
}

.wrapperMainNav__logo {
    grid-area: left;
    justify-self: start;
    align-self: center;
    margin-left: 80px;
}

.wrapperMainNav__social {
    grid-area: right;
    justify-self: end;
    align-self: center;
    margin-right: 80px;
}

.wrapperMainNav__social__socialIcon {
    vertical-align: top;    
    width: 30px;
    margin: 10px;
}

.wrapperMainNav__closeExercises {
    grid-area: right;
    justify-self: end;
    align-self: center;
    margin-right: 80px;
}

@media screen and (max-width: 1200px) {
    .wrapperMainNav {
        background: white;
    }

    .wrapperMainNav__logo {
        margin-left: 30px;
    }
    
    .wrapperMainNav__social {
        margin-right: 30px;
    }

    .wrapperMainNav__closeExercises {
        margin-right: 30px;
    }
}

.mainNav__closeExercises__pageTitle {
    font-family: Overpass;
    font-size: 16px;
    font-weight: 300px;
    font-style: italic;
    display: inline-block;
    padding-right: 10px;
}

.mainNav__closeExercises__xIcon {
    width: 14px;
    display: inline-block;
}

@media screen and (max-width: 400px) {
    .wrapperMainNav__logo {
        margin-left: 25px;
    }
    
    .wrapperMainNav__social {
        margin-right: 25px;
    }

    .wrapperMainNav__social__socialIcon {
        vertical-align: top;    
        width: 20px;
        margin: 5px;
    }

    .wrapperMainNav__closeExercises {
        margin-right: 25px;
    }
}