@media screen and (max-width: 1170px) {
    .mainNav {
        background-color: #ffffff;
    }
}

@media screen and (max-width: 1024px) {
    .mainNav {
        padding-right: 50px;
        padding-left: 50px;
    }
    .siteTitle {
        font-size: 45px;
    }
    h2 {
        font-size: 32px;
    }
    .hero {
        background-color: #F7F7F7;
        margin: 50px 0px 100px 0px;
    }
    .exerciseIntro {
        padding: 0 160px;
    }
    .exerciseCta {
        padding: 0 160px;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        margin: 100px 0 40px 0;
        text-align: left;
    }
    .hero {
        padding: 0 120px;
    }
    .mainButton {
        margin-bottom: 60px;
    }
    .exerciseIntro {
        padding: 0 40px;
    }
    .exerciseCta {
        padding: 0 40px;
    }
    .sideNav{
        left: 50px;
    }
    .exerciseSection img {
        padding: 0 0px 80px 0;
        margin: 0 auto;
        display: block;
    }
    .exerciseSection__text {
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding-right: 80px;
        padding-left: 80px;
    }

    .sideNav {
        display: none;
    }

    .sideNav__navSquare {
        display: none;
    }

    .exerciseSection img {
        display: none;
    }

    .exerciseSection__text {
        padding: 0 40px;
    }

    .exerciseImage {
        display: none;
    }

    .exerciseIntro {
        margin-top: 60px;
    }
}

@media screen and (max-width: 400px) {

    .mainNav {
        padding-right: 30px;
        padding-left: 30px;
        position: relative;
    }

    .hero {
        padding-right: 30px;
        padding-left: 30px;
    }

    h2 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    .exerciseSection {
        padding: 60px 0;
    }
    
}