h1 {
    font-size: 54px;
    text-align: center;
    color: #1920FE;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-family: Adobe Caslon Pro;
    font-size: 45px;
    font-weight: 300;
    color: #1920FE;
    margin: 0;
}

h3 {
    font-family: Adobe Caslon Pro;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    color: #000000;
    margin: 0;
}

h4 {
    font-family: Adobe Caslon Pro;
    font-style: italic;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    color: #1920FE;
    letter-spacing: 0.5px;
    margin: 0;
}

h5 {
    font-family: Overpass;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

h6 {
        display: inline-block;
        margin: 0;
        color: #000000;
        font-family: Adobe Caslon Pro;
        font-size: 16px;
        line-height: 50px;
        font-weight: 700;
        margin: 0;
}

a {
    text-decoration: none;
}

#backHome:visited {
    color: #000000;
}

p {
    font-family: Overpass;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #000000;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 400px) {
    h4 {
        font-size: 28px;
    }
}